# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\minhut\java\bot-stock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
